section{
    border-style: solid;
    border-width: 3px;
    height: 770px;
    position: relative;
}

.Element-1{
    position: static;
    background-color: chartreuse;
    width: 500px;
    height: 250px;  
}
.Element-2{
    position: relative;
    background-color: chocolate;
    width: 500px;
    height: 250px;
    left: 500px;
    top: 10px;
}
.Element-3{
    background-color: aqua;
    position: absolute;
    width: 500px;
    height: 250px;
    right: 0px;
    top: 520px;
}